.board
{
    display: table;
    width: 75%;
}

.row {
    display:table-row;
    padding:0px;
}

.tic-btn {
    width:100%;
}

.square
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 0px;
}